<mat-card class="cardWithShadow">
  <mat-card-header class="bg-light p-7 pb-7 mb-3 shadow-sm rounded">
    <mat-card-title>
      <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Título del Header -->
        <div class="d-flex align-items-center">
          <mat-icon class="text-primary me-2">inventory_2</mat-icon>
          <span class="text-primary fw-bold f-s-18"
            >Gestión de Proveedores</span
          >
        </div>
        <!-- Botón de acción -->
        <button
          mat-raised-button
          color="primary"
          class="rounded-pill d-flex align-items-center px-3 pb-7"
        >
          <mat-icon class="me-2">add</mat-icon>
          <span class="ms-2">Agregar</span>
        </button>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource2" class="w-100 pt-3">
        <!-- Supplier Column -->
        <ng-container matColumnDef="Proveedor">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">
            Proveedor
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <img
                [src]="element.imagePath"
                alt="users"
                width="48"
                class="rounded"
              />
              <div class="m-l-16">
                <h6 class="f-s-14 f-w-600 mb-1">
                  {{ element.pname }}
                </h6>
                <span class="f-s-12 text-muted">
                  {{ element.Ubicacion }}
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="debt">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Deuda Pendiente
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <!-- Valor de la deuda -->
              <span class="f-s-14 text-secondary">
                {{ element.debt | currency : "USD" : "symbol" : "1.2-2" }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Estado
          </th>
          <td mat-cell *matCellDef="let element">
            @if(element.status == 'A') {
            <span
              class="bg-light-success text-success rounded-pill px-3 py-1 f-s-12"
            >
              Activo
            </span>
            } @if(element.status == 'I') {
            <span
              class="bg-light-error text-error rounded-pill px-3 py-1 f-s-12"
            >
              Inactivo
            </span>
            }
          </td>
        </ng-container>

        <!-- Sales Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 text-center">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 text-center">
            <div class="d-flex justify-content-center align-items-center">
              <!-- Mostrar ventas -->
              <span class="text-secondary me-3">{{ element.sales | number }}</span>
              
              <!-- Botón para agregar marca -->
              <button
                mat-icon-button
                color="primary"
                class="action-button"
                matTooltip="Agregar Marca"
              >
                <mat-icon>add_business</mat-icon>
              </button>
        
              <!-- Botón para ver detalles -->
              <button
                mat-icon-button
                color="accent"
                class="action-button"
                matTooltip="Ver detalles"
              >
                <mat-icon>visibility</mat-icon>
              </button>
        
              <!-- Menú de opciones -->
              <button
                mat-icon-button
                color="warn"
                [matMenuTriggerFor]="menu"
                class="action-button"
                matTooltip="Más opciones"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="cardWithShadow">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns2"
          class="hover:bg-light-primary cursor-pointer"
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
