<mat-card class="cardWithShadow">
  <mat-card-header class="mb-4">
    <mat-card-title class="w-100 text-center">
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon class="text-primary me-2">inventory_2</mat-icon>
        <span class="text-primary fw-bold fs-4">Gestión de Proveedores</span>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Barra de búsqueda y botón de agregar -->
    <div
      class="search-action-container mb-4 d-flex justify-content-between align-items-center"
    >
      <button
        mat-raised-button
        color="primary"
        class="rounded-pill px-4"
        matTooltip="Agregar Proveedor"
      >
        <mat-icon class="me-2">add</mat-icon>
        <span>Agregar</span>
      </button>

      <mat-form-field
        class="minimal-search-field"
        matTooltip="Buscar por nombre o cuenta"
      >
        <mat-label>Buscar proveedor</mat-label>
        <input
          matInput
          placeholder="Ingrese nombre del proveedor o número de cuenta"
          (input)="applyFilter($event)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <!-- Aquí iría tu contenido principal -->
    <div class="content-container">
      <!-- Contenido de la tabla o lista de proveedores -->
    </div>
  </mat-card-content>

  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100 pt-3">
        <!-- Nombre del proveedor -->
        <ng-container matColumnDef="nombreProveedor">
          <th mat-header-cell *matHeaderCellDef>Nombre Proveedor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombreProveedor }}
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="numeroCuenta" matTooltip="Informacion de pago" class="">
          <th mat-header-cell *matHeaderCellDef>Número de Cuenta</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <span>{{ element.numeroCuenta }}</span>
              <br />
              <span class="f-s-12 text-muted " >{{ element.nombreBanco }}</span>
            </div>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="estadoProveedor">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngClass]="{
                'text-success': element.estadoProveedor,
                'text-danger': !element.estadoProveedor
              }"
            >
              {{ element.estadoProveedor ? "Activo" : "Inactivo" }}
            </span>
          </td>
        </ng-container>

        <!-- Sales Column -->
        <ng-container matColumnDef="Acciones">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 f-s-14 text-center"
          >
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 text-center">
            <div class="d-flex justify-content-center align-items-center">
              <!-- Mostrar ventas -->
              <span class="text-secondary me-3">{{
                element.sales | number
              }}</span>

              <!-- Botón para agregar marca -->
              <button
                mat-icon-button
                color="primary"
                class="action-button"
                matTooltip="Agregar Marca"
              >
                <mat-icon>add_business</mat-icon>
              </button>

              <!-- Botón para ver detalles -->
              <button
                mat-icon-button
                color="accent"
                class="action-button"
                matTooltip="Ver detalles"
                (click)="openDetailsDialog(element)"
              >
                <mat-icon>visibility</mat-icon>
              </button>

              <!-- Menú de opciones -->
              <button
                mat-icon-button
                color="warn"
                [matMenuTriggerFor]="menu"
                class="action-button"
                matTooltip="Más opciones"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="cardWithShadow">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="hover:bg-light-primary cursor-pointer"
        ></tr>
      </table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
