<mat-card class="cardWithShadow">
    <mat-card-header class="mb-4">
      <mat-card-title class="w-100 text-center">
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="text-primary me-2">inventory_2</mat-icon>
          <span class="text-primary fw-bold fs-4">Vitrina</span>
        </div>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <!-- Barra de búsqueda y botón de agregar -->
      
  
      <!-- Aquí iría tu contenido principal -->
      <div class="content-container">
        <!-- Contenido de la tabla o lista de proveedores -->
      </div>
    </mat-card-content>
  
    <mat-card-content>
     
    </mat-card-content>
  </mat-card>
  