<mat-card class="cardWithShadow">
  <!-- Header de la vitrina -->
  <mat-card-header class="header-section mb-4">
    <mat-card-title class="w-100 text-center">
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon class="text-primary me-2">inventory_2</mat-icon>
        <span class="text-primary fw-bold fs-4">Vitrina de Marcas</span>
      </div>
    </mat-card-title>
    <button mat-flat-button color="primary" (click)="openCreateBrandDialog()">Crear Marca</button>
  </mat-card-header>

  <!-- Contenido principal -->
  <mat-card-content class="content-section mt-4">
    <div class="table-responsive">
      <div class="cards-container d-flex flex-wrap justify-content-center gap-4">
        <div class="card-wrapper" *ngFor="let product of paginatedProducts">
          <mat-card class="product-card">
            <img
              mat-card-image
              [src]="'../../../../assets/images/products/s9.jpg'"
              [alt]="product.nombreMarca"
              class="product-image"
            />
            <mat-card-content class="product-content">
              <mat-card-title class="product-title text-center">
                {{ product.nombreMarca }}
              </mat-card-title>
              <p class="product-description text-center">
                {{ product.descripcionMarca }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- Paginador -->
    <mat-paginator
      [length]="products.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
